<nav class="navbar navbar-light bg-light justify-content-center">
  <a class="navbar-brand" href="#">
    <img src="/bootstrap-4.3.1-dist/favicon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Charter
  </a>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/connection">Create Connections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/report">Create Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/generate_report">Generate Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/group_reports">Group Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/generate_pages">Generate Pages</a>
      </li>
    </ul>
</nav>