<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <script src="/echarts.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="/bootstrap-4.3.1-dist/favicon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Charter
    </a>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/chart">Data Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chart/db">DB Query</a>
        </li>
      </ul>
  </nav>

<div class="container">
  <!-- Accordion -->
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Line Chart
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <form id="line-form">
                <div class="form-group">
                  <label for="parameters">Parameters</label>
                  <input type="text" class="form-control" id="line-parameters" placeholder="Mon,Tue,Wed,...">
                  <small id="Help" class="form-text text-muted">Please enter your line chart parameters separating them with commas</small>
                </div>
                <div class="form-group">
                  <label for="values">Values</label>
                  <input type="text" class="form-control" id="line-values" placeholder="123,324,2342,...">
                  <small id="emailHelp" class="form-text text-muted">Please enter your corresponding parameter values separating them with commas</small>
                </div>
                <input type="submit" class="btn btn-primary" onclick="lineChart();" value="Submit">
              </form>
            </div>
          </div>
    </div>
    <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Bar Chart
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <form id="bar-form">
              <div class="form-group">
                  <label for="parameters">Parameters</label>
                  <input type="text" class="form-control" id="bar-parameters" placeholder="Mon,Tue,Wed,...">
                  <small id="Help" class="form-text text-muted">Please enter your bar chart parameters separating them with commas</small>
                </div>
                <div class="form-group">
                  <label for="values">Values</label>
                  <input type="text" class="form-control" id="bar-values" placeholder="123,324,2342,...">
                  <small id="emailHelp" class="form-text text-muted">Please enter your corresponding parameter values separating them with commas</small>
                </div>
                <input type="submit" class="btn btn-primary" onclick="barChart();" value="Submit">
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Pie Chart
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <form id="pie-form">
                <div class="form-group">
                    <label for="parameters">Parameters</label>
                    <input type="text" class="form-control" id="pie-parameters" placeholder="Mon,Tue,Wed,...">
                    <small id="Help" class="form-text text-muted">Please enter your pie chart parameters separating them with commas</small>
                  </div>
                  <div class="form-group">
                    <label for="values">Values</label>
                    <input type="text" class="form-control" id="pie-values" placeholder="123,324,2342,...">
                    <small id="emailHelp" class="form-text text-muted">Please enter your corresponding parameter values separating them with commas</small>
                  </div>
                  <input type="submit" class="btn btn-primary" onclick="pieChart();" value="Submit">
            </form>
        </div>
      </div>
    </div>
  </div>
</div> 


<div id="main" class="container" style="width: 600px; height:400px;"></div>

<script type="text/javascript">  
  function lineChart() {
    let params = document.getElementById('line-parameters').value.split(',');
    let values = document.getElementById('line-values').value.split(',').map(function(item) {
      return parseInt(item, 10);
    });
    
    var line = echarts.init(document.getElementById('main'));

    option = {
      title: {
        text: 'Line Chart'
      },
      xAxis: {
          type: 'category',
          data: params
      },
      yAxis: {
          type: 'value'
      },
      series: [{
          data: values,
          type: 'line'
      }]
    };

    line.setOption(option);

    document.querySelector('#line-form').addEventListener('submit', (e) => {
      e.preventDefault();
    });
  }

  function barChart() {
    let params = document.getElementById('bar-parameters').value.split(',');
    let values = document.getElementById('bar-values').value.split(',').map(function(item) {
      return parseInt(item, 10);
    });
    
    var line = echarts.init(document.getElementById('main'));

    option = {
      title: {
        text: 'Bar Chart'
      },
      xAxis: {
          type: 'category',
          data: params
      },
      yAxis: {
          type: 'value'
      },
      series: [{
          data: values,
          type: 'bar'
      }]
    };

    line.setOption(option);

    document.querySelector('#bar-form').addEventListener('submit', (e) => {
      e.preventDefault();
    });
  }
  
  // Pie Chart
  function pieChart() {
    let params = document.getElementById('pie-parameters').value.split(',');
    let values = document.getElementById('pie-values').value.split(',').map(function(item) {
      return parseInt(item, 10);
    });

    let drum = [];

    for(let i = 0; i <= params.length -1; i++) {
      drum.push({name: params[i], value: values[i]})
    }
    console.log(drum)

    let chart1 = echarts.init(document.getElementById('main'))

    chart1.setOption({
      title: {
        text: 'A pie',
        show: true,
        textStyle: {
          color: 'black'
        }
      },
      toolbox: {
        feature: {
          saveAsImage: {
            type: 'jpg',
            name: 'Pie Clip',
            title: 'Save as an Image',
            pixelRatio: 1
          }
        }
      },
      series: [{
          name: 'Ref Page',
          type: 'pie',
          legendHoverLink: true,
          radius: '60%',
          data: drum
        }
      ]
    });

    document.querySelector('#pie-form').addEventListener('submit', (e) => {
      e.preventDefault();
    });
  }
  
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
<script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

</body>
</html>